.dropdownLight {
  background-color: #333333;
  color: #fff;
}

.upward {
  position: relative;
}

.dropdownDark {
  background-color: #fff;
  color: #333;
}

.dropdownButton {
  width: 300px;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 1.3rem;
  border-radius: 30px;
}

.dropdownButtonLight {
  background-color: #292929;
}

.dropdownButtonDark {
  background-color: #292929;
}

.dropdownContentDownward {
  max-height: 0;
  overflow: hidden;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.2s ease-out;
  display: flex;
  flex-direction: column;
  padding: 5px 20px;
}

.dropdownContentDownward.open {
  max-height: 500px; // Adjust this value as needed
  transform: scaleY(1);
}

.dropdownContentUpward {
  max-height: 0;
  overflow: hidden;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.2s ease-out;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px 20px;
  position: absolute;
  bottom: 100%;
}

.dropdownContentUpward.open {
  max-height: 500px; // Adjust this value as needed
  transform: scaleY(1);
}

.dropdownItem {
  border: none;
  font-size: 1.3rem;
  padding: 10px 0px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.dropdownItem svg {
  width: 50px;
}

.hide {
  color: transparent;
}

.dropdownItem:hover.dropdownLight {
  background-color: #484848;
}

.dropdownItem:hover.dropdownDark {
  background-color: #c8c8c8;
}

.dropdownItem:first-child {
  border-radius: 10px 10px 0px 0px;
}

.dropdownItem:last-child {
  border-radius: 0px 0px 10px 10px;
}

.disabled.dropdownLight {
  pointer-events: none;
  color: #808080;
}

.disabled.dropdownDark {
  pointer-events: none;
  color: #cacaca;
}
