* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.2s;
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.hero {
  padding-top: 100px;
  width: 100vw;
  height: 100vh;
}

.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero--dark {
  background-color: #333;
  color: #fff;
}

.hero--light {
  background-color: #fff;
  color: #292929;
}

.hero__logo {
  width: 400px;
}

.hero__title {
  font-size: 2rem;
}

.theme-toggler {
  margin-top: 30px;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  box-shadow: none;
  outline: none;
  border: none;
}

.theme-toggler--light {
  background-color: #b36fcc;
}

.theme-toggler--dark {
  background-color: #557ffe;
}

.hero__logo {
  width: 400px;
}

.hero__dropdown {
  margin-top: 200px;
}

@media screen and (max-width: 768px) {
  .hero__logo {
    width: 300px;
  }

  .hero__title {
    font-size: 1.5rem;
  }

  .trial {
    width: 300px;
  }

  .theme-toggler {
    width: 45px;
    height: 45px;
    margin-top: 20px;
  }
}
